/*Corpo*/
body,html{
    margin: 0rem;
    padding: 0rem;
    min-height: 100%;
}

/*barra de pesquisa*/

.pesquisa {
    margin-top: 1.6rem;
    margin-left: 6.6em;
}

.input_pesquisa {
    padding: 0.6rem;
    width: 33.3rem;
}

.botao_index {
    padding: 0.6rem;
}
.limit_imgindex{
    padding-top: 0.5rem;
    width: 50%;
    min-width: 50%;

    border-radius: 116px 116px 116px 116px;
-moz-border-radius: 116px 116px 116px 116px;
-webkit-border-radius: 116px 116px 116px 116px;
border: 0px solid #000000;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* Logo */

.logo {
    background-color: rgb(109, 43, 43);
    display: flex;
}

/*icones*/

.logar {
    flex-direction: column;
}

.topo {
    display: flex;
    margin-left: 40rem;
    margin-top: 1rem;
}

.cart {
    color: black;
    font-size: 2rem;
    height: 0.3rem;
    margin-top: 1.3rem;
    margin-right: 3.3rem;
}
.cart_usu {
    color: black;
    font-size: 2.3rem;
    height: 0.3rem;
    margin-top: 1.3rem;
    margin-right: 1rem;
}

.icon {
    color: black;
    font-size: 2.3rem;
}
.icon_usu {
    height: 0.3rem;
    color: black;
    font-size: 2.8rem;
    margin-top: 1rem;
}

.entrar {
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

.mg8 {
    margin-top: 0.53rem;
}
.mg8_usu {
    font-size: 1rem;
    margin-top: 1.8rem;
}
.flex {
    display: flex
}


/*Em baixo do logo*/

.abas {
    display: flex;
    background-color: rgb(109, 43, 43);
    justify-content: space-around;
}

.assistencia {
    text-align: center;
}

.caminho {
    text-decoration: none;
    color: black
}


/*AD*/

.ad {
    display: flex;
}

.anun {
    height: 40rem;
    background-image: url("AD.png");
    width: 6.6rem;
}

.homem {
    margin-right: 6.6rem;
}


/*Caixas*/
.titulo_index{
    color: black;
    font-size: 1.3rem;
    text-decoration: underline;
}

.cx {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    height: 257px;
}
.img_limit{
    width: 80%;
    height: 80%;

}
.img_limit2{
    height: 10%;
    min-height: 10%;
    width: 10%;
    min-width: 10%;
}

/*Produtos*/

.preco {
    text-decoration: none;
    color: rgb(49, 187, 49);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link {
    text-align: center;
}

.borda {
    width: 15%;
    height: 100%;
    margin-top: 30px;
    margin-left: 5rem;
    margin-right: 5rem;
    border-style: solid;
    border-color: #ff0000;
    background-color: white;
}



/*destaque

.destaque {
    margin-top: 50px;
    display: flex;
    margin-right: 400px;
    border-color: #ff0000;
    border-style: solid;
    height: 500px;
}

.img {
    padding: 20px
}

.Text {
    text-align: center;
}

.codigo {
    display: flex
}

.codigo2 {
    font-size: 11px
}

.star {
    padding-top: 9px;
    padding-left: 2px;
}
*/


/*Rodape*/

.rodape {
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: rgb(109, 43, 43);
    text-align: center;
    text-decoration: none;
    
}

.email {
    justify-content: center;
    display: flex;
}

.email2 {
    padding-top: 0.5rem;
    font-size: 1.3rem;
    color: black;
}


/*login/cadastro*/

.input_form {
    padding: 0.6rem;
    width: 30rem;
}

.log {
    text-align: center;
    font-size: 1.3rem;
}

.form {
    padding-left: 0.6rem;
    display: flex;
    margin-top: 2rem;
}

.mail {
    text-align: center;
    border-style: solid;
    margin-right: 43.3rem;
    margin-left: 43.3rem;
}

.bot {
    margin-left: 25rem;
    margin-top: 1.3rem;
    margin-bottom: 0.6rem;
    padding: 0.6rem;
}

.icon2 {
    color: black;
    font-size: 3.3rem;
}

.sex {
    display: flex;
    margin-left: 0.6rem;
    margin-right: 23.3rem;
}


/*comprar*/

.tudo {
    display: flex;
    margin-left: 20%;
}

.meu {
    font-size: 1.3rem;
}

.produto {
    word-spacing: 7.6rem;
    border-bottom: solid;
    font-size: 1.3rem;
    margin-top: 2.6rem;
}

.span_cart {
    font-size: 2rem;
    height: 0.3rem;
    margin-top: 1.3rem;
    padding-right: 2%;
}

.name {
    width: 4.6rem;
    min-height: 0.3rem;
}

.carro {
    width: 95%;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0.6rem;
    border-bottom: solid;
}

.post_dash {
    display: flex;
    margin-left: 21%;
}

.selecionar {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.lixo {
    font-size: 2rem;
    margin-top: 0.6rem;
    margin-left: 11.3rem;
}

.preco_dash {
    white-space: nowrap;
    width: 2rem;
    margin-left: 4.9rem;
    margin-top: 1.8rem;
}
.preco2_dash {
    white-space: nowrap;
    width: 2rem;
    margin-top: 1.5rem;
    margin-left: 4.9rem;
}

/*Resultado*/

.resultado {
    width: 30%;
    border-style: solid;
    margin-top: 5.3rem;
    margin-left: 2rem;
    margin-bottom: 4.6rem;
}

.resumo {
    text-align: center;
    margin-top: 0.6rem;
}

.valor {
    display: flex;
}

.valor_frete {
    display: flex;
    border-bottom: solid;
}

.cupom {
    font-size: 0.6rem;
    text-align: center;
}

.continuar {
    text-decoration: none;
    color: black;
    text-align: center;
    border-style: solid;
    background-color: gray;
    align-items: center;
    margin-left: 3.3rem;
}

.caminho {
    color: rgb(5, 5, 37);
}

.limitar_img {
    width: 8%;
    margin-right: 0.3rem;
}


/*sobre*/

.sobre {
    text-align: center;
}

.descricao1 {
    text-align: center;
}

.descricao2 {
    font-size: 1.3rem;
}

.mvv {
    display: flex;
}

.dev {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-items: center;
}


/*carrinho_final*/

.tudo_final {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto_final {
    border-bottom: solid;
    font-size: 1.1rem;
    margin-top: 2.6rem;
}

.span_final {
    padding-right: 20rem;
}

.name_final {
    display: flex;
}

.id_final {
    padding-right: 24rem;
    width: 4.6rem;
}

.carro_final {
    display: flex;
    margin-top: 0.6rem;
    border-bottom: dotted;
    width: 35.1rem;
}


/*pedido_final*/

.pedido_final {
    display: flex;
}

.entrega1 {
    display: flex;
}

.endereco {
    border-bottom: solid;
    font-size: 1.3rem;
}

.entrega2 {
    width: 33.3rem;
}


/*cupom_final*/

.input_final {
    padding: 0.3rem;
}

.botao_final {
    padding: 0.3rem;
}


/*Pagamento_final*/

.forma {
    flex-direction: column;
}


/*Resultado*/

.pag {
    border-style: solid;
    margin-left: 2rem;
    margin-bottom: 4.6rem;
    margin-top: 2rem;
}

.valor_final {
    display: flex;
}

.valor2_final {
    display: flex;
    border-bottom: solid;
}

.cupom {
    font-size: 0.6rem;
    text-align: center;
}

.cont {
    text-decoration: none;
    color: black;
    text-align: center;
    border-style: solid;
    background-color: gray;
    align-items: center;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}


/* dashboard*/

.input_dash {
    padding: 0.6rem;
    width: 33.3rem;
}


/*icones*/

.carro_dash {
    display: flex;
    margin-left: 40rem;
    margin-top: 1rem;
}
.carro_sobre{
    display: flex;
    margin-left: 70%;
    margin-top: 1rem;
}
.buy_dash {
    color: black;
    font-size: 2rem;
    height: 0.3rem;
    margin-top: 0.6rem;
}

.carrinho_dash {
    font-size: 1.3rem;
    color: black;
    height: 0.3rem;
    margin-top: 0.86rem;
    text-decoration: none;
}

.minha_dash {
    display: flex;
    margin-top: 1rem;
    margin-left: 1.3rem;
    text-decoration: none;
}

.dash_dash {
    margin-left: 13%;
    display: flex;
    justify-content: center;
}


/*alteraçao*/

.cx_dash {
    text-align: center;
    border: solid;
    width: 10rem;
    margin-top: 4rem;
}

.alteracao_dash {
    font-size: 1.06rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

.nov_dash {
    color: black;
    text-decoration: none;
    font-size: 0.86rem;
}


/*relatorio*/

.font_dash {
    border-top: solid;
    padding-top: 1.3rem;
    font-size: 1.06rem;
}


/*produtos cadastrados*/

.ml_dash {
    margin-left: 1rem;
}

.fs_dash {
    font-size: 1.3rem;
}

.est_dash {
    border-bottom: solid;
    font-size: 1.13rem;
    margin-top: 2.6rem;
}

.span_dash {
    padding-right: 6.6rem;
    padding-left: 10rem;
}

.produto_dash {
    display: flex;
    margin-top: 0.6rem;
    border-bottom: solid;
}

.name_dash {
    margin-top: 1.8rem;
    margin-left: 0.5rem;
   
}
.name_dash2 {
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    width: 10.6rem;
}

.flex_dash {
    display: flex;
}

.botao_dash {
    margin-left: 11.3rem;
    padding: 0.5rem;
    height: 3rem;
}

.deletar_dash {
    height: 3rem;
    margin-left: 7.3rem;
    margin-top: 1rem;
    padding: 0.5rem;
    height: 3rem;
}
.stock_dash{
    margin-left: 6.5rem;
    width: 2rem;
    height: 1.5rem;
    margin-top: 1.5rem;
}
.stocklabel_dash{
    margin-top: 1.8rem;
}
.stock2_dash{
    width: 2rem;
    height: 1.5rem;
    margin-top: 1.5rem;
}
.stockbotao_dash{
    height: 2rem;
    margin-top: 1.2rem;
    
}
.up_dashmudar{
    margin-top: 2rem;
}
.img_dashmudar{
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    margin-left: 4.9rem;
  
}
.textare_dash{
    margin-top: 1.5rem;
    height: 30%;
    margin-left: 4.9rem;
}
.editar_dash{
    height: 2rem;
    margin-left: 15rem;
    margin-right: 2rem;
    margin-top: 1.2rem;
}

/*cadastro_produto*/
/*icones*/
.carro_cadastroproduto{
    display: flex;
    margin-left: 70%;
    margin-top: 1rem;
}
.buy_cadastroproduto{
    color: black;
    font-size: 2rem;
    height: 0.3rem;
    margin-top:0.6rem;
}
.carri_cadastroproduto{
    font-size: 1.3rem;
    color: black;
    height: 0.3rem;
    margin-top:0.86rem;
    text-decoration: none;
}
.minha_cadastroproduto{
    display: flex;
    margin-top: 1rem;
    margin-left: 1.3rem;
    text-decoration: none;
}
.dash_cadastroproduto{
    display: flex;
    justify-content: center;
}

/*alteraçao*/
.cx_cadastroproduto{
    text-align: center;
    border:solid;
    width: 10rem;
    margin-top: 4rem;
}
.alt_cadastroproduto{
    font-size: 1.06rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}
.nov_cadastroproduto{
    color: black;
    text-decoration: none;
    font-size: 0.86rem;
}

/*relatorio*/
.rela_cadastroproduto{
    border-top: solid;
    padding-top: 1.3rem;
    font-size: 1.06rem;
}

/*cadastrar*/
.bar_cadastroproduto{
    width: 20rem;
}
.lgbar_cadastroproduto{
    width: 21.3rem;
    height: 6.6rem;
}
.p_cadastroproduto{
    margin-left: 3.3rem;
}
.cat_cadastroproduto{
    width: 21.6rem;
}
.up_cadastroproduto{
    margin-top: 2rem;
}
.file_cadastroproduto{
    width: 20.6rem;
    margin-bottom: 1rem;
}
.img_cadastroproduto{
    display: flex;
    flex-direction: column;
}

.botao_cadastroproduto{
    margin-left: 10rem;
    padding: 1rem;
}

/*inserir produto*/
.limit_inserir{
    width: 15%;
        -webkit-animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.limit_inserir2{
    width: 15%;
}
.align_inserir{
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/*inserir_categoria*/

.dash_inserircategoria{
    display: flex;
    justify-content: center;
}
.p_inserircategoria{
    margin-left: 3.3rem;
}
.name_inserircategoria{
    width: 5.6rem;
}
.bar_inserircategoria{
    width: 20rem;
}
.voltar_inserircategoria{
    font-size: 1.3rem;
    color: black;
    height: 0.3rem;
    margin-top:0.86rem;
    text-decoration: none;
}
.voltar2_inserircategoria{
    color: black;
    font-size: 2rem;
    height: 0.3rem;
    margin-top:0.6rem;
}
.voltar3_inserircategoria{
    display: flex;
    margin-left: 70%;
    margin-top: 1rem;
}
.lixo_inserircategoria {
    font-size: 2rem;
    margin-top: 0.6rem;
    margin-left: 8rem;
}



/*Exibir*/
.flex_exibir{
    display: flex;
  flex-direction: column;
  align-items: center;
}
.tudo_exibir{
    width: 50%;
    height: 50%;
    margin-top:3%;
    margin-left: 24.85%;
    border-color: rgb(109, 43, 43);
    border-style: solid;
}
.destaque_exibir{
    display:flex;
    
}
.img_exibir{
    padding-right:20px;
    padding-left:20px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 30%;
    height: 30%;
    
}
.preço_exibir{
    font-size: large;
    text-decoration: none;
    background-color: rgb(109, 43, 43) ;
    color:rgb(49, 187, 49);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10rem;
    padding-left: 10rem;
    
}

.text_exibir{
    text-align: center;
}
.codigo_exibir{
    font-size:11px;
    margin-left: 10%;
}
.star_exibir{
    padding-top:9px;
    padding-left: 2px;
    margin-left: 15%;
}
.descricao_exibir{
    font-size: large;
    margin-bottom: 3rem;
    margin-left: 10%;
    }
.comprar_exibir{
    text-decoration: none;
    background-color: rgb(109, 43, 43);
    color:rgb(49, 187, 49);
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 40%;
    margin-left: 44%;
}
.botao_exibir{
    width: auto;
}


@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  /**/
  @-webkit-keyframes rotate-hor-center {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
    }
  }
  @keyframes rotate-hor-center {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
    }
  }
  